html {
  	background-color: #003380;
}

h1 {
	color: #ffff00;
	padding: 20px 0;
	font-size: 50px;
	text-align: center;
  	border-radius: 1em;
  	font-family: 'Parseltongue', sans-serif;
}

h3, h4 {
	color: #99e6ff;
	font-size: 35px;
	text-align: left;
	text-shadow: 2px 2px rgb(0, 0, 0);
	font-family: 'Magic School One', sans-serif;
}

ol {
	list-style-type: upper-roman;
}

ol li {
	color: white;
	font-family: 'Dumbledor 1', sans-serif;
	font-size: 20px;
}

strong {
	font-family: 'Harry Potter', sans-serif;
	color: #99e6ff;
	text-shadow: 2px 2px rgb(0, 0, 0);
	font-size: 25px;
}

ul li {
	font-family: 'Magic School One', sans-serif;
	font-size: 25px;
	color: white;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.img1 {
  float: right;
}

.img2 {
  float: right;
}

.img3 {
  float: right;
}

.img4 {
  float: right;
}